html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #cccccc;
  min-width: 730px;
}

li {
  list-style: none;
}

#content {
  display: inherit;
  justify-content: center;
  flex-direction: column;
}

#continue {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 40px;
  width: 88px;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  margin-left: 9px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.4;
}

#graphic {
  display: flex;
  margin-left: 50px;
}

#jsGrid {
  margin-top: 20px;
}

#risk-selector {
  display: inherit;
  height: 60px;
  width: 620px;
  align-self: center;
}

#risk-selector li {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 62px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  font-size: 27px;
  font-weight: 500;
  cursor: pointer;
}

#risk-selector li:hover{
  background-color: #e6ff3f;
}

#risk-selector ul {
  display: inherit;
  width: 620px;
}

#risk-selector-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#risk-selector-header {
  display: flex;
}

#top-logo {
  position: absolute;
  left: 0;
  width: 200px;
  height: 75px;
  margin: 20px;
  cursor: pointer;
}

#view-logo{
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-top: 40px;
}

#view-logo img{
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
}

svg#donut-chart {
  display: none;
  margin-top: 40px;
  margin-right: 92px;
}

text.inner-circle {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.app-title {
  font-size: 55px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2273b7;
  font-family: "Roboto", sans-serif;
}

.arc {
  cursor: pointer;
}

.arc:hover {
  opacity: .85;
}

.arc{
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

.button {
  color: black;
  background-color: white;
  cursor: pointer;
}

.jsgrid-grid-body{
  overflow: hidden !important;
}

.nav {
  display: flex;
  justify-content: center;
  background: #a0b0bf;
  display: flex;
  justify-content: center;
  background: #a0b0bf;
  margin-bottom: 20px;
  height: 100px;
}

.react-root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.risk-calculator-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.risk-calculator-input-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  align-items: center;
}

.risk-calculator-input-container input{
  height: 40px;
  width: 200px;
  color: black;
  font-size: 22px;
  margin-left: 3px;
  border-radius: 5px;
}

.risk-calculator-error-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 206px;
  background: transparent;
  color: red;
  margin-left: 13px;
  font-size: 20px;
}

.risk-calculator-label{
  font-size: 34px;
  font-weight: bold;
  align-self: center;
}

.risk-label-select{
  display: flex;
  font-size: 22px;
  font-weight: bold;
  justify-content: center;
  margin-right: 56px;
}

.risk-label-levels{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
}

.risk-label{
  display: flex;
  margin-right: 96px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.risk-selector-header-labels {
  display: flex;
  flex-direction: column;
  width: 730px;
  font-family: "Roboto", sans-serif;
}

.start-over-button{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 40px;
  width: 88px;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  background: white;
}
